/* BLOCKS IMAGE */

img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.block--image {
  min-width: var(--padding);
}

/* Figcaption */

figcaption {
  padding: var(--block-padding);
}

figcaption p {
  font-family: var(--font-family-code);
  font-size: var(--font-size-3);
}

/* Button image */

.block--image button#cover {
  position: absolute;
  top: -50px;
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.666);
}

/* MOBILE */

@media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 900px) and (orientation: landscape) {
  .block--image {
    width: auto;
    border: none;
    outline: var(--border) solid var(--color-primary);
  }
}
