/* BOLCKS TEXT */

.block--markdown,
.block--code {
  padding: var(--block-padding);
  min-width: calc(var(--padding) * 2);
}

.block--markdown:not(textarea) {
  height: auto !important; /* ? */
}

/* Notes */

.note,
.block li a.note,
.block p a.note {
  margin: 0;
  font-family: var(--font-family-code) !important;
  font-weight: var(--font-weight-semi-bold);
}

.highlight {
  /* Hover notes */
  border-color: var(--color-accent);
  outline-color: var(--color-accent);
}

/* ? */
.note {
  scroll-margin-top: 50vh;
  scroll-margin-right: 40vw;
  scroll-margin-left: 40vw;
}

/* Edit */

textarea {
  position: relative;
  min-width: 304.55px !important;
  min-height: 304.55px;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  padding: var(--block-padding);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
  z-index: var(--z-index-edit);
}
